DATABASE_URL="mysql://root:plant123@localhost:3306/plant_wander"
JWT_SECRET="plant-wander-jwt-secret-key-2024"
JWT_EXPIRES_IN="7d"
ADMIN_JWT_SECRET="plant-wander-admin-jwt-secret-2024"
ADMIN_JWT_EXPIRES_IN="1d"